@import "tailwindcss";
body{
      font-family: "Nunito", sans-serif;

}

.css-13cymwt-control{
  
    background-color: #f3f4f6b4 !important;
    min-height: 0 !important;
    cursor: pointer;
 
    
 }
.css-hlgwow{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-1xc3v61-indicatorContainer{
     padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-19bb58m{
    margin: 0 !important;
}

.css-1jqq78o-placeholder{
    font-size: 14px !important;
}

.css-13cymwt-control:focus{
 border: 0 !important;
 min-height: 0 !important;
}