@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
p{
    font-family: "Inter", sans-serif;

}

@import "tailwindcss";
h1,
h2,
h3,
h4,
h5,
h6
{
      
  font-family: "Montserrat", sans-serif;
}


/* *{
 font-family: "Big Shoulders", sans-serif;} */

.css-13cymwt-control{
  
    background-color: #f3f4f6b4 !important;
    min-height: 0 !important;
    cursor: pointer;
 
    
 }
.css-hlgwow{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-1xc3v61-indicatorContainer{
     padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-19bb58m{
    margin: 0 !important;
}

.css-1jqq78o-placeholder{
    font-size: 14px !important;
}

.css-13cymwt-control:focus{
 border: 0 !important;
 min-height: 0 !important;
}